# Build
/bin/
*.exe
lazyjournal

# Packages
/DEBIAN/
/usr/
*.snap
*.deb
*.rpm

# Goreleaser
goreleaser.log
/dist/

# Linters
linters.md
results.md

# Test reports
*report.md
*.out
test.log

# Profiling
*.pprof