services:
  lazyjournal:
    image: lifailon/lazyjournal:latest
    container_name: lazyjournal
    restart: unless-stopped
    privileged: true
    volumes:
      # Systemd
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket:ro
      - /run/systemd/system:/run/systemd/system:ro
      - /run/systemd/journal/socket:/run/systemd/journal/socket:ro
      # Journald
      - /etc/machine-id:/etc/machine-id:ro
      # Filesystem
      - /var/log:/var/log:ro
      - /opt:/opt:ro
      - /home:/home:ro
      # Docker socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # Read docker logs from filesystem
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      # Kubernetes configuration
      - $HOME/.kube/config:/root/.kube/config:ro
      # Custom lazyjournal configuration (optional)
      # - ./config.yml:/bin/config.yml:ro
    environment:
      # Enable Web mode
      - TTYD=false
      - PORT=5555
      # Credentials for accessing via Web browser (optional)
      - USERNAME=
      - PASSWORD=
      # Flags used (optional)
      - OPTIONS=
    # Web mode
    ports:
      - 5555:5555
    # TUI mode
    tty: true
    stdin_open: true