name: Docker build and push from specified commit

on:
  workflow_dispatch:
    inputs:
      Commit:
        description: "Commit for git checkout"
        required: true
        default: ""
      Version:
        description: "Version for docker tag"
        required: true
        default: ""
      Lint:
        description: 'Dockerfile basic linters check'
        default: false
        type: boolean
      Hadolint:
        description: 'Dockerfile linters check using Hadolint'
        default: false
        type: boolean

jobs:
  build:
    name: Docker build on ubuntu-latest

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository (main branch and all commits)
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - name: Checkout the specified commit
        run: git checkout ${{ github.event.inputs.Commit }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Install Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          install: true

      - name: Dockerfile basic linters check
        if: ${{ github.event.inputs.Lint == 'true' }}
        continue-on-error: true
        run: docker build --check --build-arg "BUILDKIT_DOCKERFILE_CHECK=experimental=all" .

      - name: Dockerfile linters check using Hadolint
        if: ${{ github.event.inputs.Hadolint == 'true' }}
        continue-on-error: true
        run: docker run --rm -i hadolint/hadolint:latest < Dockerfil

      - name: Build and push Docker images for Linux on amd64 and arm64
        run: |
          version=${{ github.event.inputs.Version }}
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t lifailon/lazyjournal:$version \
            --push .